.container {
  display: flex;
  flex-direction: row;
  width: 85.5%;
  max-width: 85.5%;
  min-width: 85.5%;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  padding: 24px;
}

@media (max-width: 1024px) {
  .container {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  }
}
