@media (max-width: 1440px) {
  .container {

    width: 85.5%;
    max-width: 85.5%;
    min-width: 85.5%;
  }
}

.container {
    display: flex;

    width: 90.5%;
    margin: auto;
    font-weight: 700;
    padding: 24px;
  }