.header {

    position: sticky !important;
    box-shadow: 0 8px 24px 0 rgb(0 0 0 / 15%) !important;

    .logo {
        width: 80%;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    button {
        border: none;
        width: 100%;
        padding: 0;
        background: none;
        display: none;
    }

    button > .img-fluid {
        float: right;
    }

    .nav_navbar {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        align-items: center;
    }

    .nav-links {
        display: inline-block;
        padding: 8px;
        margin: 0;
        color: $mainBlue;
        font-weight: 700;
    }
    li {
        display: inline-block;
    }

    a {
        margin-right: 16px;
    }

    &__nav {
        display: flex;
    }

    &__sign-in, &__apply {
        margin: 0 16px;
        padding: 16px;
        align-items: center;
        height: 56px;
        display: flex;
    }

    .auth-links {
        display: flex;
        padding: 0;
        flex-direction: row;
    }

    &__sign-in {
        color: $mainGreen;
    }

    &__apply {
        color: $mainWhite;
        background: $mainGreen;
        border-radius: 0.3em;
    }
}

@media (max-width: 1310px) {
    .header {

        a {
           align-items: center;
        }

        .nav-links {
            display: flex;
        }

    }
}